/*
	==================
	[MIXIN]
	==================
*/
@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin bordered($top-color: #e5e5e5, $right-color: #e5e5e5, $bottom-color: #e5e5e5, $left-color: #e5e5e5) {
  border-top: solid 1px $top-color;
  border-left: solid 1px $left-color;
  border-right: solid 1px $right-color;
  border-bottom: solid 1px $bottom-color;
}
@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}
body.modal-open{
  margin-right:0;
  overflow:auto;
}
#main-slider {
  background-image: url('../images/slider-bg2.jpg');
}
.navbar-default{
  .navbar-brand {
    height: 50px;
    padding:7px 5px 5px 45px;
    font-size:1.2em;
    font-weight:bold;
    background: url('../images/logo.png') no-repeat 0 50%;

    .txt-logo1{
     

    }
    .txt-logo{
      font-size:0.9em;
      font-weight:normal;
      line-height: 0.9;
    }
  }
  .navbar-nav > li > a {
    padding: 16px 25px;
    font-size: 16px;
    line-height: 18px;
    color: #999;
  }
}
.carousel-content{
  .lead{
    font-size:2.3em;

  }
}
section{
  overflow:hidden;
  .box{
    padding:20px 20px;
    &.first{
      margin-top:0;
      .center{
        h4{
          height: 40px;
        }
      }
    }
  }
  .portfolio-filter{
    margin-bottom: 30px;
    & > li{
      & > a{
        font-size:1.3em;
      }
    }
  }
  .portfolio-items{
    .portfolio-item{
      .main-block{
        margin: 0 20px 10px 0;
        @include bordered();
        .item-inner{
          margin-bottom:0px;
          margin-right: 0px;
          border-bottom-width: 0px;
          .overlay .preview{
            &:focus{
              outline:none;
            }
          }
          &:hover .overlay {
            opacity: 1;
            cursor:pointer;
          }
          .portfolio-image{

            img{
              width:auto !important;
              height:166px;
            }
          }
        }
        h5{
          padding:0 0 5px 10px;
          height:20px;
        }
        .bottom{
          padding:0  10px;
          height:36px;
          .price{
            width: 115px;
            float:left;
            padding: 3px 0;
            color:red;
            font-size:1.5em;
            font-weight: bold;
            line-height:1;
            text-align: left;
          }
          .order{
            float:left;
            margin-left:115px;
            text-align: right;
            .btn{
              padding: 3px 12px;
            }
          }
        }
      }
    }
  }
}

.modal{
  overflow-y: auto;
  position: fixed;
  &.modal-open{
    overflow:auto;
  }
  .modal-dialog{
    padding-top:80px;
    width:900px;

    .modal-content{
      .modal-header{
        border-bottom-width:0px;
        padding:5px;
        .close{

        }
      }
      .modal-body{
        .product_info{
          .right_block{
            margin-left: 350px;
            color: #363636;
          }
          .product_images{
            width: 343px;
            float:left;
            position: relative;
            .main_image{
              background-color: white;
              @include box-shadow(4px 4px 2px 0px rgba(50, 50, 50, 0.45));
              border: 1px solid #e7e7e7;
              height: 252px;
              /*margin-bottom: 13px;*/
              margin: 0 auto;
              position: relative;
              text-align: center;
              width: 291px;
              img{
                height:250px;
              }
            }

          }
        }
      }
    }

  }
}
